body,html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    background-color: black;
}.contenedorBody{
  display: flex;
  position: absolute;
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(50px);
}

.contenedor-rey {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.welcome-container{
    text-align: center;
}

.contenedor-barra-central {
    display: flex;
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, transparent);
    animation: Opacity 5s infinite;
    backdrop-filter: blur(3px);
}.contenedor-barra-central.activo{
  bottom: 0%;
}
@keyframes Opacity {
  0% {background-color: rgba(0, 0, 0, 0.3);}
  50% {background-color: rgba(0, 0, 0, 0.8);}
  100% {background-color: rgba(0, 0, 0, 0.3);}
}

.contenedor-barra-central
.contenedor-barra-central-contenido{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
    background-color: rgb(6, 6, 19,0.8);
    overflow: hidden;
    overflow-y: auto;
    color: white;
    padding: 0;
    margin: 0;
    top: 0;
    left: -200px;
    transition: transform 1s ease-in-out;
    border-right: 1px solid rgba(255,255,255, 0.5);
}
.contenedor-barra-central
.contenedor-barra-central-contenido.activo {
    transform: translateX(200px);
}

.contenedor-barra-central
.contenedor-barra-central-contenido
.icon-logo1{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.icon-logo1 img{
    width: 100%;
    height: auto;
}.contenedor-categoria{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    max-width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    height: auto;
    background-color: transparent;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    color: white;
    text-decoration: none;
}.contenedor-categoria img{
    width: auto;
    height: 30px;
}.contenedor-categoria span{
    font-size: 18px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
}.contenedor-categoria:hover{
    background-color: rgba(255,255,255, 0.3);
}

.contenedor-barra-inferior {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 0;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(255,255,255, 0.5);
    box-shadow: 0 0 20px #000;
    overflow: hidden;
    background-color: #060613;
    z-index: 9999;
}

.contenedor-barra-inferior-left {
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.contenedor-barra-inferior-center {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.contenedor-barra-inferior-right {
    display: flex;
    position: relative;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.contenedor-buscar {
    display: flex;
    position: relative;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 1rem;
    width: auto;
    height: 100%;
    max-height: 70%;
    border: 1px solid rgba(255,255,255, 0.5);
}

.contenedor-icon-menu {
    display: flex;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}.contenedor-icon-menu img{
    width: auto;
    height: 100%;
}#icon-menu {
    cursor: pointer;
}#icon-logo1 {
    margin-left: 10px;
    cursor: pointer;
}

.contenedor-icon-buscar {
    display: flex;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}.contenedor-icon-buscar img{
    width: auto;
    height: 20px;
}#search-input {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: black;
    border: 0px;
    padding-left: 10px;
    font-size: 18px;
}

.btnsFullscreen {
    display: nonen
}

.boton-like-page {
    display: flex;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 80%;
    overflow: hidden;
    background-color: transparent;
}

/*INICIO DE PÁGINA*/
.contenedor-inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: transparent;
    color: white;
    justify-content: center;
    align-items: center;
}

/*PROMOCIÓN HIMNARIO ADVENTISTA PRO*/
.contenedor-aplicaciones {
    background-image: url('fondo1.jpg');
    width: 100%;
    max-width: 90%;
    margin: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-size: 10px;
    border: 5px solid rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 20px #0066ff, inset 0 0 50px #000;
  }
  .contenedor-aplicacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    overflow-x: auto;
  }
  .contenedor-aplicacion img {
    width: 80px;
    height: auto;
  } 
  .contenedor-aplicacion h5{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
  }
  .contenedor-aplicacion button {
    border-radius: 1rem;
    margin-left: 10px;
    box-shadow: 0 0 15px #000;
    width: 210px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255, 0.5);
  }
  .contenedor-aplicacion button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .contenedor-inicio
  .disqus-cont {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    height: auto;
    margin: 0;
    margin-top: 20px;
    overflow: hidden;
  }

  /*DISEÑO DE LAS PUBLICACIONES AUTOMÁTICAS*/
.contenedor-publicaciones {
    width: 100%;
    max-width: 98%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  
  .publicacion {
    margin-bottom: 25px;
    padding: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
  }
  
  .imagen-publicacion {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 1rem;
    float: left;
  }
  
  .titulo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .contenido {
    font-size: 18px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .subcontenido {
    font-size: 18px;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .perfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    position: relative;
  }
  
  .fecha-hora {
    clear: both;
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .cabecera-publicacion {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info-publicacion {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .fusionPubCheckElem {
    display: flex;
    align-items: flex-start;
  }
  
  .check {
    margin-top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .publicador {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .redes-sociales button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .redes-sociales .whatsapp {
    background-color: #25d366;
    color: white;
  }
  
  .redes-sociales .whatsapp:hover {
    background-color: #046829;
  }
  
  .redes-sociales .facebook {
    background-color: #3b5998;
    color: white;
  }
  
  .redes-sociales .facebook:hover {
    background-color: #052468;
  }
  
  .redes-sociales .tiktok {
    background-color: #000000;
    color: white;
  }
  
  .redes-sociales .tiktok:hover {
    background-color: #535252;
  }
  
  .redes-sociales .instagram {
    background-color: #e1306c;
    color: white;
  }
  
  .redes-sociales .instagram:hover {
    background-color: #85042f;
  }
  
  .redes-sociales .youtube {
    background-color: #c4302b;
    color: white;
  }
  
  .redes-sociales .youtube:hover {
    background-color: #770602;
  }
  
  .botones-accion {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    background-color: transparent;
  }
  
  .descargar {
    color: #000;
    border-radius: 1rem;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .descargar:hover {
    background-color: #ccc;
  }
  
  .copiar {
    color: #000;
    border-radius: 1rem;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .copiar:hover {
    background-color: #ccc;
  }
  
  .copiar-texto {
    color: #000;
    border-radius: 1rem;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .copiar-texto:hover {
    background-color: #ccc;
  }

  .welcome-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
  }



  /*ESTILOS PARA LA PÁGINA TELEVISIÓN*/
  #contenedor-canales{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    overflow-y: auto;
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color: transparent;
  }
  #contenedor-canales img{
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  #contenedor-canales h3{
    font-size: 24px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .contenedor-canal{
    width: 200px;
    height: 200px;
  }


  /*ESTILOS PARA LA PÁGINA STREAM QUE REPRODUCE TODO CON CLAPPR*/
  .contenedor-inicio
  .contenedor-stream-principal{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }.contenedor-cont{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 200px;
    height: auto;
    margin: 0;
    margin-top: 20px;
    border-radius: 30px;
    background-color: transparent;
  }

  .contenedor-inicio
  .contenedor-stream-second{
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    flex-direction: column;
  }

  .contenedor-inicio
  #contenedor-stream{
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    min-height: 70%;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;

  }
 
  .contenedor-inicio
  .contenedor-stream-chat{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 0;
  }

  .contenedor-inicio
  .contenedor-stream-chat #chatbro{
    display: flex;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    height: 93%;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255, 0.5);
  }

  .contenedor-stream-second
  .contenedor-perfil-padre{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255, 0.5);
  }

  .contenedor-stream-second
  .contenedor-perfil-padre
  .contenedor-perfil{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: transparent;
  }.contenedor-perfil-padre #titulo{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    margin: 0;
  }.contenedor-perfil #perfil{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin: 0;
    padding: 0;
  }
  .contenedor-perfil
  .contenedor-perfil-second
  .contenedor-perfil-tree #nombreCanal{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    width: auto;
    height: auto;
  }.contenedor-perfil-padre
  #descripcion,#fecha,#pais,#calidad{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: normal;
  }
  .linea{
    width: 100%;
    height: 1px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    
  }
  .contenedor-perfil
  .contenedor-perfil-second
  .contenedor-perfil-tree
  #checkVerificado{
    margin: 0;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    margin-right: 10px;
  }
  .contenedor-perfil-padre
  .contenedor-perfil
  .contenedor-perfil-second{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
  }
  .contenedor-perfil-second
  .contenedor-perfil-tree{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    background-color: transparent;
  }
  .contenedor-perfil-second
  .contenedor-perfil-four{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: transparent;
    align-items: center;
  }
  .contenedor-perfil-four
  #seguidores{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    width: auto;
    height: auto;
  }

  .contenedor-cartel-informativo{
    display: flex;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 9997;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin: 0;
    padding: 0;
    left: 0;
    box-shadow: inset 200px -350px 200px #060613;
    transition: ease-in-out;
    transition-duration: 1s;
  }

  .contenedor-cartel-informativo
  .contenedor-poster{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-width: 90%;
    height: auto;
    max-height: 100%;
    margin: auto;
    background-color: transparent;
  }
  .contenedor-poster
  .contenedor-poster-info{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 10px black;
  }.contenedor-poster-info
  #tituloPoster,#fechaPoster,#paisPoster
  ,#calidadPoster{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  .contenedor-poster
  #miniatura{
    width: 592px;
    max-width: 15%;
    height: auto;
    max-height: max-content;
    border-radius: 1rem;
  }
  .contenedor-verAhora{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 164px;
    height: auto;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    border: 1px solid rgb(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 10px;
    cursor: pointer;
  }.contenedor-verAhora:hover{
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: inset 0 0 10px 5px black;
    text-shadow: 0 0 5px white;
  }