* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
}

/*Muy importante, este código oculta el ABOUT THIS VIDEO Del JW PLAYER en el reproductor*/
.jw-rightclick.jw-reset {
  display: none !important;
}

body,
html {
  background-image: url("");
  background-color: #003366;
  /*SE PUEDE CAMBIAR TODO EL FONDO DE LA APP*/
  overflow: hidden;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.videoFondo {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  color: #000000;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  gap: 15px;
  align-items: center;
  padding: 5px 5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.container .main-video {
  border-radius: 5px;
  padding: 5px;
}

.container .main-video video {
  width: 100%;
  border-radius: 5px;
}

.container .main-video .title {
  color: #ffffff;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

/*ES EL CONTENEDOR DE LOS VIDEOS*/
.container .video-list {
  display: none;
  flex: 1;
  border-radius: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/* Mostrar la lista de videos cuando se selecciona una categoría */
.video-list.active {
  display: block;
}

.container .video-list::-webkit-scrollbar {
  width: 15px;
}

.container .video-list::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

.container .video-list::-webkit-scrollbar-thumb {
  background: #0066ff;
  border-radius: 5px;
}

/*TAMAÑO DEL VIDEO ADENTRO DEL CONTENEDOR*/
.container .video-list .vid video {
  width: 100%;
  border-radius: 0.7rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  margin-bottom: -3px;
}

.container .video-list .vid {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  gap: 1px;
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  margin: 3px;
  padding: 0px;
  cursor: pointer;
  float: left;
  width: 100%;
  height: auto;
  max-height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  /* Inicialmente ocultar el elemento */
}

.container .video-list .vid:hover {
  border-top: 5px solid rgba(0, 255, 35, 0.5);
  border-left: 5px solid rgba(0, 255, 35, 0.5);
  border-right: 5px solid rgba(0, 255, 35, 0.5);
  border-bottom: 5px solid rgba(0, 255, 35, 0.5);
  transition: 0.5s ease-in-out;

  .title {
    background: rgba(0, 255, 35, 0.5);
  }
}

.container .video-list .vid.active {
  background: #ff0000;
  border-top: 5px solid rgba(255, 0, 0, 0.5);
  border-left: 5px solid rgba(255, 0, 0, 0.5);
  border-right: 5px solid rgba(255, 0, 0, 0.5);
  border-bottom: 5px solid rgba(255, 0, 0, 0.5);

  .title {
    background: rgba(255, 0, 0, 0.5);
  }
}

.container .video-list .vid.active .title {
  color: #ffffff;
}

.container .video-list .vid .title {
  margin: 0px;
  width: 100%;
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100%;
  color: #ffffff;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px black, 0px 1px 0px black, -1px 0px 0px black,
    0px -1px 0px black;
}

@media (max-width: 1920px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
    padding: 0px;
  }

  .vid {
    min-width: calc(100% / 8);
  }
}

@media (max-width: 1520px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
    padding: 0px;
  }

  .vid {
    min-width: calc(100% / 7);
  }
}

@media (max-width: 1280px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
    padding: 0px;
  }

  .vid {
    min-width: calc(100% / 6);
  }
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
    padding: 0px;
  }

  .vid {
    min-width: calc(100% / 5);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .vid {
    min-width: calc(100% / 4);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .vid {
    min-width: calc(100% / 3);
  }
}

.tema {
  color: #ffffff;
  font-size: 24px;
  width: 500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para la ventana emergente */
.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  justify-content: center;
  align-items: center;
  border-color: #ffffff;
  transition: 1s ease-in-out;
}

.video-popup-content {
  display: block;
  grid-template-columns: 1fr;
  background-color: #003399;
  margin: 2px;
  padding: 2px;
  border-radius: 1.5rem;
  width: 50%;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  border: 10px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1000px #0066ff;
  transition: 1s ease-in-out;
}

.video-popup-content::-webkit-scrollbar {
  height: 5px;
}

.video-popup-content::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-radius: 5px;
}

.video-popup-content::-webkit-scrollbar-thumb {
  background-color: #0066ff;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .video-popup-content {
    display: block;
    background-color: #003399;
    margin: 2px;
    padding: 2px;
    border-radius: 1.5rem;
    width: 100%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    border: 5px solid rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 1000px #0066ff;
  }
}

/* Estilos para el botón de cierre */
#close-popup {
  background-color: #0066ff;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
}

#close-popup:hover {
  border: 5px solid rgba(255, 255, 255, 0.8);
}

/* Estilos para el reproductor de video en la ventana emergente */
#video-popup video {
  width: 100%;
  height: 100%;
}

.popup-title {
  color: #ffffff;
  font-size: 20px;
  font-family: verdana;
  margin-bottom: 10px;
  margin: 5px;
}

.popup-description {
  color: #ffffff;
  font-size: 14px;
  font-family: verdana;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popup-anio {
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*-----------------------------------------------*/
/* Estilos para la ventana emergente de RADIOS FM*/
.video-popup-fm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  justify-content: center;
  align-items: center;
  border-color: #ffffff;
}

.video-popup-content-fm {
  display: block;
  background-color: #003399;
  margin: 2px;
  padding: 2px;
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  border: 10px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1000px #0066ff;
}

/* Estilos para el botón de cierre */
#close-popup-fm {
  display: block;
  background-color: #0066ff;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 5px;
}

#close-popup-fm:hover {
  border: 5px solid rgba(255, 255, 255, 0.8);
}

/* Estilos para el reproductor de video en la ventana emergente */
#video-popup-fm video {
  width: 100%;
  height: 100%;
}

.popup-title-fm {
  color: #ffffff;
  font-size: 20px;
  font-family: verdana;
  margin-bottom: 10px;
  margin: 5px;
}

.popup-description-fm {
  color: #ffffff;
  font-size: 14px;
  font-family: verdana;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popup-anio-fm {
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contenedor-principal-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: #0066ff;
  border-radius: 0px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.8);
}

.btnsFullscreen {
  display: flex;
  gap: 10px;
}

.btnsFullscreen button img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  background-color: #0066ff;
  border: none;
  border-radius: 50%;
}

.btnsFullscreen button {
  border-radius: 50%;
}
#btnFullscreen {
  border-radius: 50%;
}

#btnSalirFullscreen {
  border-radius: 50%;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  color: white;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.menu-toggle:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.search-container {
  flex: 1;
  width: 100%;
  margin-left: 5%;
  margin-right: 10%;
}

.logo-proyecto-ja img {
  display: flex;
  flex: 1;
  width: 200px;
  height: auto;
  margin-left: 10%;
}

#search-input {
  width: 100%;
  right: 0;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 20px;
  outline: none;
  background-image: url("https://i.imgur.com/NbOqUf0.png"); /* Ruta del ícono de búsqueda */
  background-size: 24px; /* Tamaño del ícono */
  background-repeat: no-repeat; /* Evitar la repetición del ícono */
  background-position: calc(100% - 20px) center; /* Posición del ícono */
  padding-right: 48px; /* Ajuste adicional para el ícono */
}

#search-input::placeholder {
  color: #ccc;
  font-size: 24px;
}

.contenedor-categorias {
  display: block;
  position: relative;
  height: 100%;
  border-right: 5px solid rgba(255, 255, 255, 0.8);
}

.categorias {
  background-color: #003366;
  color: white;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s ease, width 0.3s ease;
  transform: translateX(0);
  /* Initial collapsed width */
}

.categorias.open {
  width: 310px;
}

.categorias::-webkit-scrollbar {
  height: 5px;
}

.categorias::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 5px;
}

.categorias::-webkit-scrollbar-thumb {
  background-color: #0066ff;
  border-radius: 5px;
}

.categoria {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #003366;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.3s, width 0.3s;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.categoria:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contenedor-principal-superior .menu-toggle img {
  width: 48px;
  height: auto;
}

.categoria img {
  width: 48px;
  height: auto;
}

.categoria span {
  display: none;
}

.categorias.open .categoria span {
  display: inline;
  margin-left: 10px;
}

.categorias:not(.open) .categoria {
  justify-content: center;
}

.hd-0::before {
  display: block;
  position: absolute;
  width: auto;
  max-width: 90%;
  margin: 5px;
  bottom: 30px;
  padding: 2px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #139601;
  content: "Próximamente...";
}

.hd-1::before {
  display: block;
  position: absolute;
  width: auto;
  max-width: 90%;
  margin: 5px;
  bottom: 30px;
  padding: 2px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #ff0000;
  content: "Estreno";
}

.hd-2::before {
  display: block;
  position: absolute;
  width: auto;
  max-width: 90%;
  margin: 5px;
  bottom: 30px;
  padding: 2px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: yellow;
  background-color: #000000;
  border-color: yellow;
  content: "HD";
}

.hd-3::before {
  display: block;
  position: absolute;
  width: auto;
  max-width: 90%;
  margin: 5px;
  bottom: 30px;
  padding: 2px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: yellow;
  background-color: #000000;
  border-color: yellow;
  content: "60FPS";
}

.hd-fm::before {
  display: block;
  position: absolute;
  width: auto;
  max-width: 90%;
  margin: 5px;
  bottom: 30px;
  padding: 2px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: yellow;
  background-color: #000000;
  border-color: yellow;
  content: "FM";
}

.hd-tv::before {
  display: block;
  position: absolute;
  width: auto;
  max-width: 90%;
  margin: 5px;
  bottom: 30px;
  padding: 2px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: yellow;
  background-color: #000000;
  border-color: yellow;
  content: "TV-PG";
}

.hide-search #search-input {
  display: none;
}

.container-adsterra {
  position: fixed;
  background-color: #003366;
  bottom: 0px;
  right: 0px;
  border: 2px solid rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 50px #0066ff;
  border-radius: 5px;
  transform: scale(0.7);
  z-index: 1;
  width: 468px;
  height: 60px;
}

.container-adsterra-banner {
  width: 728px;
  height: 90px;
}

.anuncio-container3 {
  width: 160px;
  height: 600px;
}

/* Estilos para el mensaje emergente ANUNCIO PUBLICITARIO ADSTERRA */
.container-anuncio {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
  border-color: #ffffff;
}

.anuncio {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 40px;
  background-color: #0066ff;
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 20px #000, 0 0 50px #0066ff;
  overflow-y: auto;
  overflow-x: hidden;
}

.cont {
  position: fixed;
  background-color: #0066ff;
  margin: auto;
  left: 100px;
  right: 100px;
  bottom: 25px;
  color: #fff;
  border-radius: 50px;
  border: 5px solid #ccc;
  box-shadow: inset 0 0 20px #000, 0 0 50px #000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 4;
}

.anuncio-tipo-native-bar {
  position: relative;
  background-color: #000;
  width: 100%;
  height: auto;
  max-height: 100%;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 1s linear;
}

.anuncio-tipo-social-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 70%;
  z-index: 5;
}

.luna-radio {
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
}

.carruzel {
  display: flex;
  overflow-x: hidden;
  /* Cambiado a hidden para evitar el scroll natural */
  margin-bottom: 20px;
  transition: transform 0.5s ease;
  /* Transición suave */
  width: 100%;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("") no-repeat center center/cover; /* Cambia la URL a tu imagen de fondo */
  color: white;
  text-align: center;
  width: 100%;
  max-width: 98%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para mejorar la legibilidad */
  padding: 20px;
  border-radius: 1rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/*DISEÑO DE LAS PUBLICACIONES AUTOMÁTICAS*/
.contenedor-publicaciones {
  width: 100%;
  max-width: 98%;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 1rem;
  box-sizing: border-box;
}

.publicacion {
  margin-bottom: 25px;
  padding: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.imagen-publicacion {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 1rem;
  float: left;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.contenido {
  font-size: 18px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: #fff;
}

.subcontenido {
  font-size: 18px;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  color: #fff;
}

.perfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.fecha-hora {
  clear: both;
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecera-publicacion {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-publicacion {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fusionPubCheckElem {
  display: flex;
  align-items: flex-start;
}

.check {
  margin-top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.publicador {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.redes-sociales button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.redes-sociales .whatsapp {
  background-color: #25d366;
  color: white;
}

.redes-sociales .whatsapp:hover {
  background-color: #046829;
}

.redes-sociales .facebook {
  background-color: #3b5998;
  color: white;
}

.redes-sociales .facebook:hover {
  background-color: #052468;
}

.redes-sociales .tiktok {
  background-color: #000000;
  color: white;
}

.redes-sociales .tiktok:hover {
  background-color: #535252;
}

.redes-sociales .instagram {
  background-color: #e1306c;
  color: white;
}

.redes-sociales .instagram:hover {
  background-color: #85042f;
}

.redes-sociales .youtube {
  background-color: #c4302b;
  color: white;
}

.redes-sociales .youtube:hover {
  background-color: #770602;
}

.botones-accion {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  background-color: transparent;
}

.descargar {
  color: #000;
  border-radius: 1rem;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.descargar:hover {
  background-color: #ccc;
}

.copiar {
  color: #000;
  border-radius: 1rem;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.copiar:hover {
  background-color: #ccc;
}

.copiar-texto {
  color: #000;
  border-radius: 1rem;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.copiar-texto:hover {
  background-color: #ccc;
}

.contenedor-imagen-texto {
  margin-bottom: 25px;
  padding: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.texto-imagen-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("") no-repeat center center/cover; /* Cambia la URL a tu imagen de fondo */
  color: white;
  text-align: center;
  width: 100%;
  max-width: 98%;
  margin-top: 30px;
  margin-bottom: 30px;
}
#progress-container {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  margin-top: 20px;
}
#progress-bar {
  width: 0;
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  color: white;
}
#drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#input-link {
  margin-top: 20px;
  color: white;
  font-size: 1.2em;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#input-link {
  margin-top: 20px;
  color: white;
  font-size: 1.2em;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#input-link #imagen-url {
  width: 100%;
  margin-top: 20px;
  color: white;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  right: 0;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 20px;
  outline: none;
}
#process-url {
  color: #000;
  border-radius: 1rem;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
#result {
  margin-top: 20px;
  color: white;
}
.texto-extraido {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#extracted-text {
  margin-top: 20px;
  color: white;
  font-size: 1.2em;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#copy-button {
  color: #000;
  border-radius: 1rem;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
#copy-button:hover {
  background-color: #ccc;
}

.contenedor-categorias-himnos {
  all: unset;
  display: flex;
  border: 5px solid #003399;
  border-radius: 1rem;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.vid::-webkit-scrollbar {
  width: 10px;
}

.vid::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

.vid::-webkit-scrollbar-thumb {
  background: #0066ff;
  border-radius: 5px;
}

.categoria-himnos {
  color: #fff;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #003366;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.3s, width 0.3s;
  border-radius: 30px;
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
}

.categoria-himnos:hover{
  background-color: #0066ff;
}

.disqus-cont {
  width: 100%;
  height: auto;
  align-items: center;
}

.contenedor-miniaturas-video-generador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -999;
  opacity: 1;
}

.container-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  overflow: hidden;
  opacity: 1;
}

#canvas {
  border: 5px solid black;
  display: block;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: transparent;
}

/* Estilos para la ventana de carga */
#modal-cargando {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  font-size: 20px;
  flex-direction: column;
  display: none; /* Oculto por defecto */
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}